# VS / .NET
.vs/
bin/
obj/
**/bin/
**/obj/
*.user
*.suo
*.pdb
*.log
*.cache
*.deps.json

# NuGet
packages/
*.nupkg

# IIS Express
*.vspscc

# Ignore Visual Studio Database Designer files
*.dbmdl
*.jfm
