<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://luxproptechnologyfinal-ezc7g5evcjfkena4.centralus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>b6a946b1-97c7-223a-c5e4-d100db1e47dc</ProjectGuid>
    <PublishUrl>https://luxproptechnologyfinal-ezc7g5evcjfkena4.scm.centralus-01.azurewebsites.net/</PublishUrl>
    <UserName>$LuxpropTechnologyFinal</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>